.header {
}

.container {
  max-width: 1200px;
  margin: 0 10%;
  padding: 0 auto;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  padding: 10px 30px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

.header {
  height: 100%;
  /* background-color: red; */
  background: url("https://picsum.photos/id/809/1200/600");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.img {
  width: 100%;
  height: auto;
}
