/* navigation style */
.row-nav {
  background-color: #001423;
  grid-area: navigation;
}
.nav-group {
  height: 80px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
.logo-nav {
  width: auto;
  height: 50px;
  display: grid;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.fa-bars {
  color: #fff;
}
.fa-bars:hover {
  color: #377a8c;
  cursor: pointer;
}

/* Button style */
button {
  width: 180px;
  height: 50px;
  padding: 10px 30px;
  border-radius: 6px;
}
.btn-1,
.submit {
  border: none;
  background-color: #377a8c;
  color: #fff;
}
.btn-1:hover,
.submit:hover {
  background-color: #5fa7ba;
}
.submit {
  width: 120px;
}
.btn-2 {
  border: 2px solid #377a8c;
  background-color: #fff;
}
.btn-2:hover {
  border: 2px solid #377a8c;
  background-color: #377a8c;
  color: #fff;
}
.btn-3 {
  border: 2px solid #fff;
  background-color: #377a8c;
  color: #fff;
  justify-self: center;
}
.btn-3:hover {
  background-color: #5fa7ba;
}

/* Hero style */
.row-hero {
  grid-area: hero;
}
.hero {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  grid-area: hero;
}
.hero-h1 {
  position: absolute;
  width: 40%;
  text-align: left;
  top: 50%;
  left: 20%;
  translate: -50% -50%;
}

/* Courses header style */
.row-header {
  height: 400px;
  display: grid;
  align-content: center;
  grid-area: header;
  margin-left: 30px;
}

/* Callout style */
.row-callout {
  background-color: #377a8c;
  grid-area: callout;
}

/* main stlye */
.main {
  max-width: 1200px;
  gap: 50px;
}
.row-main-1 {
  display: flex;
  margin: 60px auto;
  padding: 0 100px;
  grid-area: main-1;
}
.row-main-2 {
  display: flex;
  margin: 60px auto;
  padding: 0 100px;
  grid-area: main-2;
}
.row-main-3 {
  padding: 0 60px;
  padding-bottom: 60px;
  grid-area: main-3;
}
.img-article {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.improve-img,
.invest-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Roles style */
.row-roles {
  background-color: #377a8c;
  grid-area: roles;
}
.roles {
  padding-bottom: 90px;
}
.list {
  background-color: #377a8c;
  float: left;
  width: 25%;
  text-align: center;
}

/* newsletter style  */
.row-newsletter {
  grid-area: newsletter;
}
.newsletter {
  background-color: #e6e5e1;
  padding-bottom: 30px;
}
form {
  display: flex;
  justify-content: center;
}
input {
  background-color: #fff;
  border: 1px solid #efefef;
  width: 240px;
  height: 60px;
  padding: 0 20px;
  margin: 0 2px 40px 2px;
}
.h2-newsletter::before {
  content: "\2764";
  color: #000;
  margin: 20px;
}
.h2-newsletter::after {
  content: "\2764";
  color: #000;
  margin: 20px;
}

/* want to see more style */
.row-more {
  grid-area: more;
}
.more {
  background-color: #377a8c;
  padding-bottom: 60px;
  display: grid;
  justify-content: center;
}
.h2-more {
  padding: 50px 0 20px 0;
  color: #fff;
}
.p-more {
  color: #fff;
  font-size: 0.95em;
}

/* footer style */
.row-footer {
  width: 100%;
  background-color: #001423;
  grid-area: footer;
  padding: 50px 0 30px 0;
}
footer {
  color: #fff;
  text-align: center;
}
.nav-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.logo-footer {
  width: 150px;
  height: auto;
  padding: 30px 0;
}

/* Breakpoints */
@media (min-width: 1000px) {
  i {
    display: none;
  }
  body {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-areas:
      "navigation navigation"
      "hero hero"
      "callout callout"
      "header header"
      "main-1"
      "main-2"
      "newsletter newsletter"
      "more more"
      "footer footer"; */
  }
}
@media (max-width: 1000px) {
  a {
    display: none;
  }
  .btn-1 {
    display: none;
  }
  body {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-areas:
      "navigation"
      "hero"
      "callout"
      "header"
      "main-1"
      "main-2"
      "newsletter"
      "more"
      "footer"; */
  }
}
