h1 {
  font-size: 2em;
  font-family: "lora";
  font-weight: 400;
  color: #fff;
}

h2 {
  font-size: 1.5em;
  padding: 60px 0;
  font-family: "lora";
  font-weight: 400;
  background-color: #000;
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 30px;
  line-height: 1.5em;
  font-family: "montserrat";
  font-weight: 700;
}

p,
.list {
  font-size: 0.9em;
  padding-bottom: 30px;
  line-height: 1.7em;
  font-family: "montserrat";
  font-weight: 400;
}
.list {
  background-color: #000;
  color: #fff;
}
